@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  min-width: 320px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 82.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.home .header__logo--slash {
  display: none;
}

.wpapper-gradient {
  border-radius: 0px 0px 12px 12px;
  position: relative;
  background: -o-linear-gradient(221.43deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  margin-bottom: 5rem;
}

.header-bleck .wpapper-gradient::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 20px;
  left: 20px;
  height: 50px;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  z-index: -223;
}

.header-bleck .wpapper-gradient::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 40px;
  left: 40px;
  height: 50px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  z-index: -224;
}

.basic-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.219;
}

.title-link {
  margin-bottom: 0.625rem;
  color: #24A3FF;
  -webkit-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.title-link::after {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  border: 3px solid;
  border-color: #24A3FF;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
  margin-left: 0.34375rem;
}

.title-link:hover {
  color: #F0145A;
}

.title-link:hover .title-link::after {
  border-color: #F0145A;
}

.title-gradient {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.bg-dark-blue {
  background-color: #1C4280;
}

.bg-dark-yankees {
  background-color: #143646;
}

.bg-cadmium-orange {
  background-color: #F48B30;
}

.bg-deep-lilac {
  background-color: #9E4DC3;
}

.bg-deep-saffron {
  background-color: #FD9339;
}

.bg-platinum {
  background-color: #E2E2E4;
}

.bg-cardinal {
  background-color: #C71C36;
}

.bg-water {
  background-color: #DCF3F9;
}

.bg-bright-gray {
  background-color: #EAEAEA;
}

.bg-yankees-blue {
  background-color: #282240;
}

.bg-indigo {
  background-color: #b0a8cf;
}

.bg-black {
  background-color: #000000;
}

.header {
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  height: 45px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #F5F5FA;
}

.header-bleck .header::before {
  background: rgba(245, 245, 250, 0.1803921569);
}

.header-bleck .header {
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0px;
  right: 0px;
}

.header-bleck .header .main-color-text {
  fill: #323264;
}

.header__container {
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.21875;
  -ms-grid-columns: 1fr;
      grid-template: 45px 57px/1fr;
      grid-template-areas: "info info" "logo open";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bleck .header__container {
  color: #ffffff;
}

.header__logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  grid-area: logo;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.2;
}

.header__logo--logotip {
  width: 70px;
  height: 32px;
}

.header__logo--capital-letter {
  fill: #F0145A;
}

.header__logo--letter {
  fill: #323264;
}

.header-bleck .header__logo--letter {
  fill: #ffffff;
}

.header__logo--slash {
  display: block;
  position: absolute;
  width: 11px;
  height: 26px;
  left: 75px;
  color: #F0145A;
}

.header__logo--pages-name {
  position: absolute;
  color: #000;
  left: 90px;
  display: none;
}

.publications .header__logo--publications {
  display: block;
}

.services .header__logo--services {
  display: block;
}

.contact .header__logo--contact {
  display: block;
}

.team .header__logo--team {
  display: block;
}

.about-us .header__logo--about-us {
  display: block;
}

.header__info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: -ms-grid;
  display: grid;
  grid-area: info;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
}

.header__nav {
  font-weight: 700;
  grid-area: navi;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transition: bottom 1s;
  -o-transition: bottom 1s;
  transition: bottom 1s;
  left: 0;
  right: 0;
  background: #fff;
  padding-top: 64px;
  padding-bottom: 50px;
  margin: 0 8px;
  border-radius: 12px 12px 0px 0px;
}

.header__nav--link {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  color: #24A3FF;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  background: #F5F5FA;
  border-radius: 10px;
}

.header__nav--link:hover {
  border-bottom-color: #24A3FF;
}

.header-bleck .header__nav--link {
  color: #24A3FF;
}

.header-bleck .header__nav--link:hover {
  border-bottom-color: #ffffff;
}

.publications .header__nav--publications {
  color: #F0145A;
  border-bottom-color: #F0145A;
}

.services .header__nav--services {
  color: #F0145A;
  border-bottom-color: #F0145A;
}

.contact .header__nav--contact {
  color: #F0145A;
  border-bottom-color: #F0145A;
}

.team .header__nav--team {
  color: #F0145A;
  border-bottom-color: #F0145A;
}

.about-us .header__nav--about-us {
  color: #F0145A;
  border-bottom-color: #F0145A;
}

.header #opener {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.header #opener:checked ~ .header__nav {
  bottom: -86vh;
  opacity: 1;
  z-index: 2;
}

.header #opener:checked ~ .background {
  display: block;
  z-index: 1;
}

.header #cap {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.header #cap:checked ~ .header__nav {
  bottom: -138vh;
  opacity: 0;
}

.header #cap:checked ~ .background {
  display: none;
}

.header .cap {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.header .cap::before,
.header .cap::after {
  display: block;
  content: "";
  font-size: 0;
  line-height: 0;
  height: 2px;
  position: absolute;
  left: 6px;
  right: 6px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.header .cap::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background: #EC6F5D;
}

.header .cap::after {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  background: #EC6F5D;
}

.header .opener {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  display: block;
  grid-area: open;
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 8px;
}

.header .opener::before,
.header .opener::after,
.header .opener span {
  display: block;
  content: "";
  font-size: 0;
  line-height: 0;
  height: 2px;
  position: absolute;
  left: 6px;
  right: 6px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.header .opener::before {
  top: 7px;
  background: #323264;
}

.header .opener::after {
  top: 22px;
  background: #323264;
}

.header .opener span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #323264;
}

.header-bleck .header .opener::before {
  background: #fff;
}

.header-bleck .header .opener::after {
  background: #fff;
}

.header-bleck .header .opener span {
  background: #fff;
}

.header .background {
  position: absolute;
  top: 0;
  left: -50px;
  right: -50px;
  height: 100vh;
  background: #707093;
  display: none;
  padding: 0 30px;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lang--btn {
  display: block;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 7px;
  letter-spacing: 1px;
  color: #B3B3BA;
}

.header-bleck .header__lang--btn {
  color: #ffffff;
}

.header__lang--btn-active {
  background: #F0145A;
  color: #ffffff;
}

.header__lang--btn:hover {
  background: #F5F5FA;
}

.header-bleck .header__lang--btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.header__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1rem;
  line-height: 1.25;
}

.header__contact-info--link {
  padding-left: 20px;
  position: relative;
  color: #B3B3BA;
}

.header__contact-info--link:first-child,
.header__contact-info--link:last-child {
  display: none;
}

.header__contact-info--link address {
  font-style: normal;
}

.header-bleck .header__contact-info--link {
  color: #ffffff;
}

.header-bleck .header__contact-info--link::before {
  content: "";
  background: #fff;
}

.header__contact-info--link::before {
  content: "";
  top: 50%;
  left: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B3B3BA;
  display: none;
}

.header__contact-info--link:nth-child(2) {
  font-weight: 700;
}

.header__contact-info--facebook path {
  fill: #B3B3BA;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header__contact-info:hover path {
  fill: #F0145A;
}

.header-bleck .header__contact-info--facebook path {
  fill: #ffffff;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-bleck .header__contact-info--facebook:hover path {
  fill: #F0145A;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #f5f5fa;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.footer__container::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 30px;
  right: 30px;
  background: #e6e6f0;
  top: 0;
}

.footer__locotion {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__locotion-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer__locotion-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
}

.footer__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__info-phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466e;
}

.footer__info-mail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}

.before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 17px;
  margin-left: 8px;
}

.before::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  background: #b3b3ba;
  border-radius: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.activ:hover path {
  fill: #f0145a;
}

.activ:hover {
  color: #f0145a;
}

.hero-section {
  min-height: 100vh;
}

.hero-section__container {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section--h {
  position: absolute;
  min-height: 100%;
  width: 576px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hero-section--h img {
  height: 100%;
  position: absolute;
}

.hero-section__title {
  color: #ffffff;
  position: relative;
  text-align: center;
}

.hero-section__arrow {
  position: absolute;
  display: block;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 222;
}

.hero-section__arrow:hover .arrow--circle,
.hero-section__arrow .arrow--color {
  stroke: #F0145A;
}

.hero-section__arrow:hover .arrow--color {
  stroke: #F0145A;
}

.hero-section__arrow .arrow--circle {
  stroke: #ffffff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.hero-section__arrow .arrow--color {
  stroke: #ffffff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.our-services {
  padding-bottom: 60px;
}

.services .our-services {
  padding-top: 102px;
}

.our-services__title--wrapper {
  padding: 60px 0;
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

.our-services__title--link {
  display: none;
}

.home .our-services__title--link {
  display: inline-block;
}

.our-services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr/1fr;
  gap: 60px;
  font-size: 1rem;
  line-height: 1.625;
  color: #ffffff;
}

.our-services__item--link {
  display: block;
  width: 92px;
  height: 92px;
  background: #fff;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.our-services__item--link img {
  -webkit-transition: scale 0.7s;
  -o-transition: scale 0.7s;
  transition: scale 0.7s;
}

.our-services__item--link:hover img {
  scale: 1.2;
}

.our-services__item--title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2272727273;
  margin-bottom: 15px;
  color: #24A3FF;
  cursor: pointer;
  -webkit-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
}

.our-services__item--title:hover {
  color: #F0145A;
}

.clients__title {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  letter-spacing: 1px;
  color: #323264;
  margin-bottom: 1.875rem;
  text-align: center;
  text-transform: uppercase;
}

.clients__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[1fr];
  grid-template-columns: repeat(1fr);
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}

.publications {
  background: #F5F5FA;
  padding-bottom: 30px;
}

.publications__container {
  position: relative;
}

.publications__title--wrapper,
.publications__title--wrapper-rec {
  padding: 60px 0;
}

.publications__title--wrapper {
  display: none;
}

.home .publications__title--wrapper {
  display: block;
}

.publications__title--wrapper-rec {
  position: static;
  top: 0;
  left: 30px;
  display: block;
}

.home .publications__title--wrapper-rec {
  display: none;
  position: absolute;
}

.publications__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 30px auto 30px auto;
  -ms-grid-columns: 1fr;
      grid-template: repeat(3, auto)/1fr;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  font-weight: 400;
  gap: 30px;
  background: #ffffff;
  background: transparent;
}

.publications__item {
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}

.publications__item:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.publications__item--link {
  display: block;
  margin-bottom: 1.875rem;
}

.publications__item--link img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.publications__item--content {
  padding: 0 30px 30px;
}

.publications__item--title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  color: #24A3FF;
  margin-bottom: 0.9375rem;
}

.publications__date {
  display: block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.914375;
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2.125rem;
}

.publications__date::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  left: 0px;
  right: 0px;
  bottom: -15px;
  background: #E6E6F0;
}

.team-slider {
  padding-bottom: 3.75rem;
}

.team-slider__slider {
  padding-bottom: 106px;
}

.team-slider__slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 500px;
  -ms-grid-columns: 1fr;
      grid-template: 500px/1fr;
  background: #F5F5FA;
  border-radius: 12px;
}

.team-slider .swiper-pagination {
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team-slider .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
}

.team-slider .swiper-pagination-bullet:nth-child(2) {
  margin: 0 15px;
}

.team-slider__image {
  min-height: 344px;
  position: relative;
}

.team-slider__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.team-slider__content {
  padding: 30px;
}

.team-slider__title {
  margin-bottom: 1.875rem;
}

.team-slider__title--link {
  margin-bottom: 0.3125rem;
}

.team-slider__author {
  margin-bottom: 0.375rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.21875;
  color: #B3B3BA;
}

.team-slider__author--position {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #B3B3BA;
}

.experience {
  position: relative;
  z-index: 1000;
  padding-top: 60px;
}

.experience__container {
  margin-bottom: 30px;
}

.experience__wrapper {
  max-width: 67.5rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 46px 60px 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 46px 1fr/1fr;
  gap: 60px;
}

.experience__radio {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.experience-tabs {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 100%;
  overflow: auto;
}

.experience-tab {
  background: #B3B3BA;
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.experience-tab:hover {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

.experience-panels {
  font-size: 1.1875rem;
  line-height: 1.8947368421;
  color: #ffffff;
  border-top: 4px solid #B3B3BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.experience-panel__content {
  display: none;
  -webkit-animation: anim 0.8s;
          animation: anim 0.8s;
}

.experience-panel__content--title {
  font-size: 1.875rem;
  line-height: 1.2166666667;
  font-weight: 700;
  margin-bottom: 1.875rem;
}

#one:checked ~ .experience-panels #one-panel,
#two:checked ~ .experience-panels #two-panel,
#three:checked ~ .experience-panels #three-panel,
#four:checked ~ .experience-panels #four-panel {
  display: block;
}

#one:checked ~ .experience-tabs #one-tab,
#two:checked ~ .experience-tabs #two-tab,
#three:checked ~ .experience-tabs #three-tab,
#four:checked ~ .experience-tabs #four-tab {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  color: transparent;
}

@-webkit-keyframes anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 86.25em) {
  .footer__container {
    padding-top: 2.1875rem;
  }

  .footer__container {
    padding-bottom: 2.1875rem;
  }
}

@media (min-width: 479px) {
  .basic-title {
    font-size: 2.375rem;
    line-height: 1.2105263158;
  }

  .clients__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .publications__list {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr 1fr/repeat(2, 1fr);
  }

  .publications__item:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (min-width: 576px) {
  .hero-section--h {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header::before {
    display: none;
  }

  .header__container {
    -ms-grid-columns: 1fr;
        grid-template: 30px 60px 30px/1fr;
    padding-top: 50px;
    padding-bottom: 41px;
    gap: 30px;
        grid-template-areas: "info" "logo" "navi";
  }

  .header__logo {
    font-size: 2.25rem;
    line-height: 1.2222222222;
  }

  .header__logo--logotip {
    width: 130px;
    height: 60px;
  }

  .header__logo--slash {
    left: 135px;
    width: 21px;
    height: 47px;
  }

  .header__logo--pages-name {
    left: 160px;
  }

  .header__info {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: start;
        justify-self: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__nav {
    position: static;
    -ms-grid-column-align: start;
        justify-self: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .header__nav--link {
    padding: 10px;
    margin: 0;
    background: transparent;
    border-radius: 10px;
    padding: 0 0 5px 0;
    border-radius: 0;
    background: transparent;
  }

  .header-bleck .header__nav--link {
    color: #ffffff;
  }

  .header #opener:checked ~ .background {
    display: none;
  }

  .header #cap:checked ~ .header__nav {
    opacity: 1;
  }

  .header .cap {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  .header .opener {
    display: none;
    top: 36px;
  }

  .header .background {
    left: 0;
    right: 0;
  }

  .header__contact-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__contact-info--link:first-child,
  .header__contact-info--link:last-child {
    display: block;
  }

  .header__contact-info--link::before {
    display: block;
  }

  .services .our-services {
    padding-top: 225px;
  }

  .our-services__list {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
  }

  .clients__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .publications__list {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template: 1fr/repeat(3, 1fr);
  }

  .publications__item:last-child {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }

  .team-slider__slide {
    -ms-grid-rows: auto;
    -ms-grid-columns: 400px 1fr;
        grid-template: auto/400px 1fr;
  }

  .header__logo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .header__info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .header__nav {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}

@media (min-width: 992px) {
  .header__container {
    -ms-grid-columns: 1fr 9px 3fr;
        grid-template: 30px 30px/1fr 3fr;
        grid-template-areas: "logo info" "logo navi";
    gap: 9px;
  }

  .header__info {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .header__nav {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .services .our-services {
    padding-top: 176px;
  }
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .header__info {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
  .header__nav {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media (min-width: 1024px) {
  .our-services__list {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr/1fr 1fr 1fr;
  }

  .clients__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 64em) {
  .experience__container {
    margin-bottom: 60px;
  }

  .experience__wrapper {
    -ms-grid-rows: 303px;
    -ms-grid-columns: 449px 0 1fr;
        grid-template: 303px/449px 1fr;
    gap: 0;
  }

  .experience-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    border-right: 4px solid #B3B3BA;
    border-bottom: none;
    padding: 14.5px 60px 14.5px 10px;
  }

  .experience-panels {
    border-top: none;
    padding: 10px 10px 0 60px;
  }
}

@media (max-width: 48em) {
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__locotion {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 1.9375rem;
  }
}

@media (max-width: 480px) {
  .header__container {
    padding: 0 15px;
  }
}

@media (max-width: 20em) {
  .footer__container {
    padding-top: 1.25rem;
  }

  .footer__container {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 27.0625em) {
  .footer__locotion-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__locotion-link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__info-social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 0.625rem;
  }

  .footer__info-phone {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 0.625rem;
  }

  .footer__info-mail {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .before::before {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 86.25em) {
@supports (padding-top: clamp( 1.25rem , 0.9669811321rem  +  1.4150943396vw , 2.1875rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , 0.9669811321rem  +  1.4150943396vw , 2.1875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9669811321rem  +  1.4150943396vw , 2.1875rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 0.9375 * (100vw - 20rem) / 66.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.9669811321rem  +  1.4150943396vw , 2.1875rem )) {
    .footer__container {
      padding-bottom: clamp( 1.25rem , 0.9669811321rem  +  1.4150943396vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.9669811321rem  +  1.4150943396vw , 2.1875rem )) {
    .footer__container {
      padding-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 66.25);
    }
}
}